@import './config.scss';
@import '../common/var.scss';

@mixin b($block) {
    $B: $namespace+ '-' +$block;
      @at-root {
        .#{$B} {
           @content
        }
      }
    };
@mixin m($modifier) {
    $selector: &;
    $currentlyselector: '';
    @each $unit in $modifier {
    $currentlyselector: $currentlyselector+ $selector+ $modifier-separtor+ $unit+ ',';
    }
    @at-root {
    #{$currentlyselector} {
        @content;
    }
    }
};
@mixin when ($state) {
    @at-root {
        &.#{$pre-fix+ $state} {
        @content;
        }
    }
    };
/* 
------------断点（break)
 */
 @mixin res($key, $map: $--breakpoints) {
    @if map-has-key($map, $key) {
        @media only screen and #{inspect(map-get($map, $key))} {
          @content;
       }   
     } @else {
       @warn "undefined points: `#{$map}`";
     }
  };