@mixin utils-fix {
    $selector: &;
    @at-root {
     #{$selector}::before,
     #{$selector}::after {
          display: block;
          content: '';
      }
     #{$selector}::after {
          clear: both;
      }
    }
  };